@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue: hsl(217, 54%, 11%);
    --very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --Very--dark--blue-line: hsl(215, 32%, 27%)
}

* {
    margin: 0;
    padding: 0;
    font-family: outfit;
}

body {

    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    place-items: center;
    background-color: var(--very-dark-blue);
}

.equilibrium {
    width: 310px;
    height: 310px;
    border-radius: 35px;
    padding: 20px;
    z-index: 1;
}

.view {
    position: relative;
}

.dispImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsla(178, 100%, 50%, 0.5);
    padding: 130px;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    opacity: 0;
}

.dispImg:hover {
    cursor: pointer;
    opacity: 1;

}

.card {
    width: 350px;
    height: 600px;
    background-color: var(--very-dark-blue-card-bg);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 20px 20px 50px 15px var(--very-dark-blue);



}

.info-section {
    padding: 20px;
    padding-top: 0;
}

.info-section h2 {
    color: white;
    font-size: 20px;
}

.info-section p {
    color: var(--soft-blue);
    padding: 15px;
    padding-left: 0;
    font-size: 18px;
    font-weight: 300;
}

.price-time-info {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-left: 0;
}

.price {
    color: var(--cyan);
}

.time {
    color: var(--soft-blue);
}

.time img {
    padding: 0;

    width: 15px;
}

.price img {
    padding: 0;
    margin-right: 5px;
    width: 10px;
}

hr {
    padding: 0px;
    border: 1px solid var(--Very--dark--blue-line);
    background-color: var(--Very--dark--blue-line);
}

.creator img {
    width: 30px;
    border: 1px solid white;
    border-radius: 100px;
    margin-right: 10px;
}

.creator {
    display: grid;
    grid-auto-flow: column;
    padding: 20px;
    padding-right: 2px;
    align-items: center;
    justify-content: start;
    color: white;
    column-gap: 4px;
    padding-left: 0;
}

.creator>span {
    color: var(--soft-blue);
}

.creator p {
    font-size: 18px;
    color: white;
}


.info-section>h2:hover,
.creator p:hover {
    color: var(--cyan);
    cursor: pointer;
}

@media (min-width:0px) and (max-width:500px) {
    main {
        padding: 50px;
        background-color: red;
    }

    .card {
        padding: 0px;
    }
}